<!DOCTYPE html>
<html lang=ja>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Login">
        <title>Login</title>
        <link rel="stylesheet" href="//localhost:8080/assets/style.css">
        </script>
    </head>

    <body>
        <h1>Login</h1>
         <hr>
         <div align="center">
                <script type="text/javascript"><!--
                    function myEnter(){
                       pass = prompt("パスワード入力");
                       if (pass == "yayaya"){
                           location.href = "http://localhost:8080/";
                       }
                       else{
                           location.href = "http://localhost:8080/"; 
                       }
                    }
                    // --></script>
                    
                    <form>                    
                    <input type="button" value="Login" onclick="myEnter()"> 
                    </form>
         </div>
    </body>
</html>                    